@page
@model IndexModel
@{
    ViewData["Title"] = "Cafe";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos A Cafetales </h1> 
    <h3> Donde descubriras el mejor café de colombia. </h3>
    <p>Dar<a href="https://localhost:7098/cafe">Click para ver los productos</a>.</p>
       
</div>
